@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../font/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Inter-Regular.woff2') format('woff2'),
        url('../font/Inter-Regular.woff') format('woff'),
        url('../font/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../font1/Comfortaa-Regular.eot');
    src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
        url('../font1/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font1/Comfortaa-Regular.woff2') format('woff2'),
        url('../font1/Comfortaa-Regular.woff') format('woff'),
        url('../font1/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body
{
    margin: 0;
    font-family: 'Inter';
}
a
{
    text-decoration: none;
}
.header-const
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vw;
}
.logo-name
{
    height: 7vw;
}
.logo
{
    display: none;
}
.contact-text
{
    color: #637B3C;
    font: inter-regular;
    font-size: 1vw;
}
.navbar
{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #F1F6E6;
    height: 7vw;
    z-index: 100;
}
.navbar-wrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vw;
}
.hamb
{
    display: none;
}
.popupBurger
{
    display: none;
}
.menu > li
{
    list-style-type: none;
}
.menu > li > a
{
    text-decoration: none;
    color: #637B3C;
    font-size: 1.3vw;
}
ul
{
    padding-left: 0;
}
.navbar-wrap .menu
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.navbar-wrap .menu > li
{
    display: flex;
    align-items: stretch;
}
.menu img
{
    margin-right: 5px;
}
.logo
{
    display: none;
}
.footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FBFDF3;
    padding: 0 10%;
    gap: 5px;
}
.services-card-footer img
{
    width: 50px;
    margin: 2%;
}
.contact-footer
{
    display: flex;
}
.contact-footer p
{
    margin: 10px;
    font-size: 1.5vw;
}
.services-footer
{
    display: flex;
    flex-wrap: wrap;
}
.services-card-footer
{
    display: flex;
    flex-direction: row;
    margin-right: 2%;
}
.services-card-footer p
{
    display: flex;
    font-family: 'Comfortaa';
    background-color: #E1EBCB;
    width: 13vw;
    height: 4vw;
    font-size: 1.3vw;
    border-radius: 20px;
    color: #637B3C;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.services-card-footer p:hover
{
    color: white;
    background-color: #637B3C;
}
.footer-services-1
{
    width: 50%;
    margin: 15px 0;
}
.footer-services-2
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
}
.map
{
    width: 40vw;
    border: 0;
}
h1
{
    font-size: 3vw;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
h2
{
    font-size: 2vw;
}
iframe
{
    width: 100%;
    height: 30vw;
}
@media (max-width: 1116px)
{
    .navbar, .navbar-wrap
    {
        height: 10vw;
    }
    .header-const
    {
        display: none;
    }
    .navbar-wrap .menu
    {
        display: none;
    }
    .hamb
    {
        display: flex;
        align-items: center;
    }
    .hamb-field
    {
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar
    {
        display: block;
        width: 24px;
        height: 2px;
        margin: 5px auto;
        background-color: #637B3C;
        transition: 0.2s;
    }
    .popupBurger
    {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #F1F6E6;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }
    .popupBurger.open
    {
        left: 0;
    }
    .popupBurger .menu
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
    }
    .popupBurger .menu > li
    {
        width: 80%;
    }
    .popupBurger .menu > li > a
    {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 2.8vw;
        font-family: 'Comfortaa';
        border-bottom: #637B3C 3px solid;
    }
    .hamb-field.active .bar:nth-child(2)
    {
        opacity: 0;
    }
    .hamb-field.active .bar:nth-child(1)
    {
        transform: translateY(7px) rotate(45deg);
    }
    .hamb-field.active .bar:nth-child(3)
    {
        transform: translateY(-7px) rotate(-45deg);
    }
    body.noscroll
    {
        overflow: hidden;
    }
    li img
    {
        width: 2vw;
    }
    .logo
    {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100%;
    }
    .services-footer
    {
        justify-content: space-between;
    }
    h1 
    {
        font-size: 4vw;
    }
    h2
    {
        font-size: 3vw;
    }
}
@media screen and (max-width: 590px)
{
    .logo
    {
        height: 10vw;
    }
    .navbar
    {
        height: 60px;
    }
    .navbar-wrap
    {
        height: 60px;
    }
    .services-card-footer p
    {
        height: 15px;
    }
    .popupBurger .menu > li > a
    {
        font-size: 4vw;
    }
    li img
    {
        width: 3vw;
    }
    h1
    {
        font-size: 5vw;
    }
    h2
    {
        font-size: 4vw;
    }
    .footer
    {
        flex-direction: column-reverse;
        padding: 0 5%;
    }
    .footer-services-1
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0 0 5% 0;
    }
    .footer-services-2
    {
        margin: 0;
    }
    .map
    {
        width: 100%;
    }
    iframe
    {
        height: 45vw;
    }
    .contact-footer p
    {
        font-size: 2.5vw;
        text-align: center;
    }
}
@media screen and (max-width: 844px)
{
    .services-footer
    {
        display: none;
    }
    .services-none
    {
        display: none;
    }
}
